/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

  * {
    font-family: 'Montserrat', sans-serif;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }

.mat-mdc-paginator-container{
  background-color: transparent !important;
  justify-content: center !important;
  align-items: center;
  @media (min-width: 1024px) { 
    justify-content: flex-end !important;
  }
}